head
  title  DB Registration
  link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
.login-box
  img.avatar(src='/images/avatar.png')
  //- .warning-box
  //-   p(align=center)= warning
  h1 Login Here
  form(action='/menu' method='GET')
    input#sid(type='text' name='sid')
    input#submit(type='submit' value='Send' name='submit')
  //- h1= warning
