head
  title Payment
  link(rel='stylesheet' type='text/css' href='/stylesheets/style3.css')
.login-box
  p(align='center')  #{fee} 
  p(align='center')  #{status} 
  form(action='..' method='GET')
    input(type='submit' name='Log Out' value='back')