head
  title Payment
  link(rel='stylesheet' type='text/css' href='/stylesheets/style3.css')
.login-box
  p(align='center')  Fee : #{fee} 
  p(align='center')  Status : #{status} 
  form
    button(type='submit' formaction='/menu') Return
  //- button(href="/menu") Return